@page
@model CapstoneWebApp.Pages.Clients.EventManagementModel
@{
    ViewData["Title"] = "Event Management";
}

<!-- Show the create event form -->
<form asp-page-handler="createevent" id="createForm" method="post" class="row g-3">
    <div class="col-md-6">
        <label asp-for="title" class="form-label">Event Title</label>
        <input asp-for="title" type="text" class="form-control">
        <span asp-validation-for="title" class="text-danger"></span><br /><br />

    </div>
    <div class="col-md-6">
        <label asp-for="date" class="form-label">Date of Event</label>
        <input asp-for="date" type="date" class="form-control">
        <span asp-validation-for="date" class="text-danger"></span><br /><br />

    </div>

    <div class="col-md-6">
        <label asp-for="time" class="form-label">Time of Event</label>
        <input asp-for="time" type="time" class="form-control">
        <span asp-validation-for="time" class="text-danger"></span><br /><br />

    </div>

    <div class="col-md-6">
        <label asp-for="desc" class="form-label">Event Description</label>
        <input asp-for="desc" type="text" class="form-control">

    </div>

    <div class="col-md-6">
        <label asp-for="loc" class="form-label">Event Location</label>
        <input asp-for="loc" type="text" class="form-control">
        <span asp-validation-for="loc" class="text-danger"></span><br /><br />
    </div>

    <br />
    <button type="submit" class="btn btn-primary">Add</button>
    <a asp-page="./Admin" class="btn btn-secondary">Back</a>
</form>

